In [1]:
from sqlalchemy import *

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.3.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.4.0)
Requirement already satisfied: prettytable<1 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: jedi>=0.10 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.13.3)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (40.8.0)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.9)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.3.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: parso>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.3.4)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///GradeDB.db

'Connected: @GradeDB.db'

In [5]:
%%sql
DROP TABLE IF EXISTS Assignments

 * sqlite:///GradeDB.db
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS EvaluationFinished

 * sqlite:///GradeDB.db
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS EvaluationRequest

 * sqlite:///GradeDB.db
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS Evaluations

 * sqlite:///GradeDB.db
Done.

[]

In [9]:
%%sql
DROP TABLE IF EXISTS Questions

 * sqlite:///GradeDB.db
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS Scores

 * sqlite:///GradeDB.db
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS Answers

 * sqlite:///GradeDB.db
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS Submissions

 * sqlite:///GradeDB.db
Done.

[]

In [13]:
%%sql
DROP TABLE IF EXISTS Tasks

 * sqlite:///GradeDB.db
Done.

[]

In [14]:
%%sql
DROP TABLE IF EXISTS TaskQuestionLink

 * sqlite:///GradeDB.db
Done.

[]

In [15]:
%%sql
DROP TABLE IF EXISTS Students

 * sqlite:///GradeDB.db
Done.

[]

## Tables without Reference ID

### Students Table

In [16]:
%%sql
CREATE TABLE IF NOT EXISTS Students (
   UniversityID INTEGER PRIMARY KEY,
   Name TEXT NOT NULL,
   Email TEXT NOT NULL UNIQUE
)

 * sqlite:///GradeDB.db
Done.

[]

### Question Table

In [17]:
%%sql
CREATE TABLE IF NOT EXISTS Questions (
   QuestionID INTEGER PRIMARY KEY,
   Title TEXT NOT NULL UNIQUE,
   Text TEXT NOT NULL UNIQUE
)

 * sqlite:///GradeDB.db
Done.

[]

### Task Table

In [18]:
%%sql
CREATE TABLE IF NOT EXISTS Tasks (
   TaskID INTEGER PRIMARY KEY,
   Title TEXT NOT NULL,
   Text TEXT NOT NULL
   
)

 * sqlite:///GradeDB.db
Done.

[]

### Evaluation Table

In [19]:
%%sql
CREATE TABLE IF NOT EXISTS Evaluations (
   EvaluationID INTEGER PRIMARY KEY,
   EvaluationFinished BOOLEAN NOT NULL DEFAULT 0,
   SubmissionID INTEGER,
   FOREIGN KEY (SubmissionID)
      REFERENCES Submissions (SubmissionID)
)

 * sqlite:///GradeDB.db
Done.

[]

## Tables with reference ID

### QuestionTask Table

In [20]:
%%sql
CREATE TABLE IF NOT EXISTS TaskQuestionLink (
   QuestionID INTEGER,
   TaskID INTEGER,
   PRIMARY KEY (QuestionID, TaskID),
   FOREIGN KEY (QuestionID) 
      REFERENCES Questions (QuestionID) 
         ON DELETE CASCADE 
         ON UPDATE NO ACTION,
   FOREIGN KEY (TaskID) 
      REFERENCES Tasks (TaskID) 
         ON DELETE CASCADE 
         ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### EvaluationRequest Table

In [21]:
%%sql
CREATE TABLE IF NOT EXISTS EvaluationRequest (
   EvaluationID INTEGER,
   SubmissionID INTEGER,
   PRIMARY KEY (EvaluationID, SubmissionID),
   FOREIGN KEY (EvaluationID) 
      REFERENCES Evaluations (EvaluationID),
   FOREIGN KEY (SubmissionID) 
      REFERENCES Submissions (SubmissionID) 
         ON DELETE CASCADE 
         ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### EvaluationFinished Table

In [22]:
%%sql
CREATE TABLE IF NOT EXISTS EvaluationFinished (
   FinishedID INTEGER PRIMARY KEY,
   EvaluationID INTEGER,
   FOREIGN KEY (EvaluationID) 
      REFERENCES Evaluations (EvaluationID)
)

 * sqlite:///GradeDB.db
Done.

[]

### Assignment Table

In [23]:
%%sql
CREATE TABLE IF NOT EXISTS Assignments (
   AssignmentID INTEGER PRIMARY KEY,
   UniversityID INTEGER,
   TaskID INTEGER,
   FOREIGN KEY (UniversityID) 
      REFERENCES Students (UniversityID),
   FOREIGN KEY (TaskID) 
      REFERENCES Tasks (TaskID)
)

 * sqlite:///GradeDB.db
Done.

[]

### Answer Table

In [24]:
%%sql
CREATE TABLE IF NOT EXISTS Answers (
   AnswerID INTEGER PRIMARY KEY,
   Text TEXT NOT NULL,
   QuestionID INTEGER,
   SubmissionID INTEGER,
   FOREIGN KEY (QuestionID) 
      REFERENCES Questions (QuestionID),
   FOREIGN KEY (SubmissionID) 
      REFERENCES Submissions (SubmissionID)
)

 * sqlite:///GradeDB.db
Done.

[]

### Submission Table

In [25]:
%%sql
CREATE TABLE IF NOT EXISTS Submissions (
   SubmissionID INTEGER PRIMARY KEY,
   AssignmentID INTEGER,
   EvaluationRequest BOOLEAN NOT NULL DEFAULT 0,
   SubmissionTime DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
   FOREIGN KEY (AssignmentID) 
      REFERENCES Assignments (AssignmentID)
)

 * sqlite:///GradeDB.db
Done.

[]

### Score

In [26]:
%%sql
CREATE TABLE IF NOT EXISTS Scores (
   ScoreID INTEGER PRIMARY KEY,
   Value FLOAT,
   EvaluationID INTEGER,
   AnswerID INTEGER,
   FOREIGN KEY (EvaluationID) 
      REFERENCES Evaluations (EvaluationID),
   FOREIGN KEY (AnswerID) 
      REFERENCES Answers (AnswerID)
)

 * sqlite:///GradeDB.db
Done.

[]