# Student Summary

Notebook with one of the top cells containing an assingment like studentUniId = S123456. For the corresponding student the report should show a general summary important to the student (total grades for evaluated reports, whether submitted reports are pending for evaluation, etc.)

In [10]:
studentUniId = 16785

In [2]:
from sqlalchemy import *
import pandas as pd

In [16]:
#pip install ipython-sql
%load_ext sql
%sql sqlite:///GradeDB.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
studentsSummaryDF = pd.read_sql(
"""SELECT 
    students.UniversityID AS StudentID, 
    students.Name AS Student,
    SUM(submissions.EvaluationRequest = True) AS Number_Pending, 
    COUNT(scores.scoreId) AS Grades_Received, 
    ROUND(AVG(scores.value),1) AS Average_Grade
FROM Students

JOIN assignments ON students.universityId = assignments.universityId

JOIN submissions ON assignments.assignmentId = submissions.assignmentId

JOIN evaluations ON submissions.submissionId = evaluations.submissionId

JOIN scores ON evaluations.evaluationId = scores.evaluationID

GROUP BY students.UniversityId""", con = "sqlite:///GradeDB.db" )

In [23]:
studentsSummaryDF

,StudentID,Student,Number_Pending,Grades_Received,Average_Grade
0,6584,James BROWN,0,7,6.9
1,16785,Gary THOMAS,0,7,7.4
2,19979,Christopher JACKSON,0,6,6.7
3,23883,Alan WHITE,0,8,5.2
4,32128,Paul RAMIREZLEWIS,0,6,4.2
...,...,...,...,...,...
92,944783,Richard DAVISRODRIGUEZ,0,6,3.7
93,968929,Scott JONES,0,7,3.2
94,973125,Robert RAMIREZLEWIS,0,6,5.1
95,986359,William WRIGHT,0,8,6.5
96,994530,John SANCHEZ,0,6,7.4

In [14]:
studentsSummaryDF[studentsSummaryDF["StudentID"] == studentUniId]

   StudentID         Student  Number_Pending  Grades_Received  Average_Grade
1      16785  Craig GONZALEZ               8                8            6.4