# Student Details

Notebook with on of the top cells containing an assignment like studentUniId = S123456. For the corresponding student the report should show all details from the database (e.g. scores for each evaluated question)

In [32]:
studentUniId = 16785

In [2]:
from sqlalchemy import *
import pandas as pd

In [3]:
#pip install ipython-sql
%load_ext sql
%sql sqlite:///GradeDB.db

In [25]:
studentsDF = pd.read_sql(
"""SELECT 
    students.UniversityID AS Student, 
    students.Name AS Name, 
    students.Email AS Email, 
    COUNT(assignments.AssignmentId) AS Number_of_Assignments, 
    rOUND(AVG(scores.value),1) AS Average_Grade
FROM Students

JOIN assignments ON students.universityId = assignments.universityId

JOIN submissions ON assignments.assignmentId = submissions.assignmentId

JOIN evaluations ON submissions.submissionId = evaluations.submissionID

JOIN scores ON evaluations.evaluationId = scores.evaluationID

GROUP BY Students.UniversityID""", con = "sqlite:///GradeDB.db" )

In [33]:
studentsDF

,Student,Name,Email,Number_of_Assignments,Average_Grade
0,6584,Gary MARTIN,Garyherro@hotmail.com,8,4.6
1,16785,Craig GONZALEZ,Colin38568965@yahoo.com,8,6.4
2,19979,Barry WHITE,Brian.lets.go@outlook.com,8,5.3
3,23883,Alexander MARTIN,Alexander.lets.go@yahoo.com,8,3.9
4,32128,Neil MOORE,Michael.cooldude@icloud.com,8,5.2
...,...,...,...,...,...
90,915653,Iain ROBINSON,Ian.blabla@umail.leidenuniv.nl,6,4.6
91,944783,Neil SANCHEZ,Michael38568965@icloud.com,8,4.6
92,968929,Robert THOMPSON,Peter.mymail@umail.leidenuniv.nl,8,6.4
93,973125,Robert ALLEN,Paulgamerlord@yahoo.com,8,6.8
94,994530,John JACKSON,Jason_97@yahoo.com,6,5.7

In [35]:
studentsDF[studentsDF["Student"] == studentUniId]

,Student,Name,Email,Number_of_Assignments,Average_Grade
1,16785,Craig GONZALEZ,Colin38568965@yahoo.com,8,6.4